.ui-page {
    position:relative;
    height:100%;
    width:100%;
}

.ui-header {
    height:40px;
}

.ui-content {
    position: absolute;
    overflow: hidden;
    top:40px;
    left:0;
    bottom:0;
    width:100%;
    padding:0;
}

#app_location {
    width:100%;
    height:100%;
}

#controls {
    position:absolute;
    bottom:6px;
    left:65px;
    z-index:667;
}

#controls #rnd {
    width:100px;
    height:100px;
}